*{
    padding: 0px;
    margin: 0px;
}
.div-left{
    display: inline-block;
    color: #fff;
    float: left;
    padding-left: 20px;
    background-color: blueviolet;
}
.div-left ul li {
    display: inline-block;
    color: #fff;
    background-color: transparent;
    padding: 5px 10px;
    margin: 5px 10px;
    text-decoration: none;
}
.div-left ul li a{
    color: #fff;
}

.centerdiv{
    display: inline-block;
    color: #fff;
    padding: 10px 50px;
    padding-left: 70px;
    background-color: blueviolet;
}
.div-right{
    display: inline-block;
    float: right;
    padding: 5px 15px;
    padding-right: 100px;
    padding-left: 86px;
    background-color: blueviolet;
}
.div-right ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 5px 0px;    
}
.div-right ul li a{
    text-decoration: none;
    border: 1px solid #000;
    background-color: #fff;
    padding: 5px 5px;
    margin: 5px 5px;
    font-size: smaller;
}
/* //// Navigation //// */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.image{  
    padding: 5px;
    border: olive 2px solid;
}
.nav ul li{
    display: inline-block;
/* border: olive 2px solid; */
/* padding: 5px; */
}
.nav ul li a{
    color: #000;
    /* margin: 5px 5px; */
    /* padding: 5px 5px; */
    text-decoration: none;
}
.btn{
    border-radius:200px;
    display: inline-block;
    border-color: #fff;
    text-decoration:none;
    padding: 10px 10px;
    text-transform: uppercase;
    transition: 0.5s ease;
    font: outline;
    
}
.btn-full{
    color: whitesmoke;
    background-color:transparent;
    /* margin-right: 10px; */
    border:1px solid #000;
    font: outline;
}
.btn-full:hover{
    font:outline;
    background-color:blueviolet;
}